.contenedor-item {
  display: flex;
  width: 100%;
  height: 30px;
  border: 1px solid #00bcd4; /* Borde celeste */
  border-radius: 4px;
  margin-bottom: .5rem;
  padding: 5px;
}
.item-img {
  width: 5%;
  height: 30px;
  border-right: 1px solid grey;
}
.item-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 90%;
  height: 30px;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  height: 30px;  
  padding-left: .5rem;
}

.item-info p:nth-child(1) {
  width: 15%;
}
.item-info p:nth-child(2) {
  width: 45%;
}
.item-info p {
  width: 10%;
  text-align: center;
  border-right: 1px solid grey;
}
.item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 8%;
  padding: .5rem;
}
.btn-item {
border: none;
border-radius: 5px;
transition: .3s ease-in-out;
padding: 2px;
background-color: #007bff; /* Fondo azul */
cursor: pointer;
}
.btn-item:hover {
  background-color: #0056b3; /* Azul más oscuro */
}
.btn-item svg {
  fill: white; /* Iconos blancos */
}
.titulo-oculto {
  display: none;
}
.header-oculto {
  display: flex;
}

@media (max-width: 500px) {
  .contenedor-item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #00bcd4; /* Borde celeste */
    border-radius: 10px;
    width: 95%;
    height: auto;
    padding: 10px 0;    
  }

  .item-img {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-img img {
    height: auto;
  }
  .item-info {
    flex-direction: column;
    width: 40%;
    flex-grow: 1;
    height: auto;
  }
  .item-info p {
    width: 100% !important;
    display: flex;    
  }

  .item-info p:nth-child(2) {
  flex-wrap: wrap;
  }
  .item-info p:nth-child(4) {
  font-size: 20px;
  font-weight: bold;
}
  .item-info p:nth-child(5) {
  font-size: 20px;
  font-weight: bold;
}
  .item-btn {
    flex-direction: column;
    width: 10%;
  }
  .titulo-oculto {
    display: block;
    font-weight: bold;
    margin-right: .5rem;
    color: black !important;
  }
  .item-btn {
    gap: 30px;
  }
  .btn-item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #007bff; /* Fondo azul */
  color: white;
  border-radius: 5px;
  transition: .2s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  }
  .btn-item:hover {
    background-color: #0056b3; /* Azul más oscuro */
  }
  .btn-item svg {
    fill: white; /* Iconos blancos */
  }
  .header-oculto {
  display: none;
}
.svg-lista {
  fill: white;
}
}
