.contenedor-lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-lista h3 {
  margin-top: 1rem;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto; 
}

.buscador {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  width: 95%;
  max-width: 800px;
}

.buscador input[type="text"] {
  flex-grow: 1.2;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn-scann{
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 13px 20px;
  transition: .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
}
.btn-scann:hover {
  background-color: grey;
}
@media (max-width: 500px) {

}